node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Other
/src/routes/components/test.svelte
/src/lib/assets/music_data.json
/src/lib/assets/parts_data.json
/src/lib/assets/unlisted_coordinate_data.json
/python/
/static/img/parts/
